<a href="https://colab.research.google.com/github/Iqbalnm786/EDA_MODELING/blob/main/purchase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predicting Customer Churn in a Telecom Company**

---

In [148]:
import pandas as pd
import numpy as np

In [149]:
df=pd.read_excel('/content/train.xlsx')

In [150]:
train=df.copy()
train

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [151]:
(train['Churn']=='NaN').sum()

np.int64(0)

In [152]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [153]:
train.drop(['customerID'],axis=1,inplace=True)

## **TEST DATA**

---

In [154]:
df1=pd.read_excel('/content/test.xlsx')
test=df1.copy()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            20 non-null     object
 1   SeniorCitizen     20 non-null     int64
 2   Partner           20 non-null     object
 3   Dependents        20 non-null     object
 4   tenure            20 non-null     int64
 5   PhoneService      20 non-null     object
 6   MultipleLines     20 non-null     object
 7   InternetService   20 non-null     object
 8   OnlineSecurity    20 non-null     object
 9   OnlineBackup      20 non-null     object
 10  DeviceProtection  20 non-null     object
 11  TechSupport       20 non-null     object
 12  StreamingTV       20 non-null     object
 13  StreamingMovies   20 non-null     object
 14  Contract          20 non-null     object
 15  PaperlessBilling  20 non-null     object
 16  PaymentMethod     20 non-null     object
 17  MonthlyCharges    20 non-null     float64
 18  TotalCharges      20 non-null     float64
dtypes: float64(2), int64(2), object(15)
memory usage: 3.1+ KB

In [155]:
train['TotalCharges']  = pd.to_numeric(train['TotalCharges'], errors='coerce')

In [157]:
test['TotalCharges']  = pd.to_numeric(test['TotalCharges'], errors='coerce')

In [158]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            20 non-null     object
 1   SeniorCitizen     20 non-null     int64
 2   Partner           20 non-null     object
 3   Dependents        20 non-null     object
 4   tenure            20 non-null     int64
 5   PhoneService      20 non-null     object
 6   MultipleLines     20 non-null     object
 7   InternetService   20 non-null     object
 8   OnlineSecurity    20 non-null     object
 9   OnlineBackup      20 non-null     object
 10  DeviceProtection  20 non-null     object
 11  TechSupport       20 non-null     object
 12  StreamingTV       20 non-null     object
 13  StreamingMovies   20 non-null     object
 14  Contract          20 non-null     object
 15  PaperlessBilling  20 non-null     object
 16  PaymentMethod     20 non-null     object
 17  MonthlyCharges    20 non-null     float64
 18  TotalCharges      20 non-null     float64
dtypes: float64(2), int64(2), object(15)
memory usage: 3.1+ KB

In [159]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            20 non-null     object
 1   SeniorCitizen     20 non-null     int64
 2   Partner           20 non-null     object
 3   Dependents        20 non-null     object
 4   tenure            20 non-null     int64
 5   PhoneService      20 non-null     object
 6   MultipleLines     20 non-null     object
 7   InternetService   20 non-null     object
 8   OnlineSecurity    20 non-null     object
 9   OnlineBackup      20 non-null     object
 10  DeviceProtection  20 non-null     object
 11  TechSupport       20 non-null     object
 12  StreamingTV       20 non-null     object
 13  StreamingMovies   20 non-null     object
 14  Contract          20 non-null     object
 15  PaperlessBilling  20 non-null     object
 16  PaymentMethod     20 non-null     object
 17  MonthlyCharges    20 non-null     float64
 18  TotalCharges      20 non-null     float64
dtypes: float64(2), int64(2), object(15)
memory usage: 3.1+ KB

In [160]:
test['DeviceProtection'] = test['DeviceProtection'].replace({'yes': 'Yes'})

In [161]:
test.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [162]:
test['OnlineBackup'] = test['OnlineBackup'].replace({'no': 'No'})

In [163]:
train['TotalCharges'].fillna(train['TotalCharges'].mode()[0],inplace=True)

/tmp/ipython-input-236175630.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['TotalCharges'].fillna(train['TotalCharges'].mode()[0],inplace=True)

# **BUILDING ML MODEL**

---

In [164]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB

In [165]:
x_train = train.drop(columns=["Churn"])
y_train = train["Churn"]

x_test=test.copy()

In [166]:
cat_cols = x_train.select_dtypes(include="object").columns
num_cols = x_train.select_dtypes(exclude="object").columns

In [167]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), num_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols)
    ]
)

In [168]:
models = {
    "Logistic Regression": LogisticRegression(
        max_iter=3000, solver="saga", class_weight="balanced", n_jobs=-1
    ),
    "KNN": KNeighborsClassifier(n_neighbors=5),  # keep for comparison
    "Decision Tree": DecisionTreeClassifier(
        max_depth=10, min_samples_leaf=50, class_weight="balanced"
    ),
    "Random Forest": RandomForestClassifier(
        n_estimators=100, max_depth=12, min_samples_leaf=50, n_jobs=-1
    ),
    "Gradient Boosting": GradientBoostingClassifier(n_estimators=100),
    "SVM": LinearSVC(class_weight="balanced", max_iter=2000)

}

In [169]:
# Convert categorical columns to string
for col in cat_cols:
    x_train[col] = x_train[col].astype(str)
    x_test[col] = x_test[col].astype(str)

In [170]:
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score, accuracy_score

results = {}

for name, clf in models.items():
    pipe = Pipeline(steps=[
        ("preprocess", preprocessor),
        ("model", clf)
    ])

    pipe.fit(x_train, y_train)
    y_pred = pipe.predict(x_train)   # or validation set

    results[name] = {
        "Accuracy": accuracy_score(y_train, y_pred,),
        "F1 Score": f1_score(y_train, y_pred, average="weighted")
    }

results_df = pd.DataFrame(results).T
print(results_df)

                     Accuracy  F1 Score
Logistic Regression  0.749539  0.762816
KNN                  0.836433  0.833760
Decision Tree        0.758626  0.771525
Random Forest        0.810166  0.797247
Gradient Boosting    0.825784  0.819159
SVM                  0.744143  0.757933

In [171]:
best_model_name = results_df["F1 Score"].idxmax()
print("Best Model:" ,best_model_name )

Best Model: KNN

In [172]:
best_model = models[best_model_name]
final_pipe = Pipeline(steps=[
    ("preprocess", preprocessor),
    ("model", best_model)
])

final_pipe.fit(x_train, y_train)
y_pred = final_pipe.predict(x_test)

In [173]:
test["predicted_churn"] = final_pipe.predict(x_test)

In [174]:
test[["predicted_churn"]].to_excel("final.xlsx", index=False)

In [175]:
dftest=pd.read_excel('/content/final.xlsx')
dfpredict=pd.read_excel('/content/test.xlsx')

combined=pd.concat([dfpredict,dftest],axis=1)
combined.to_excel('combined.xlsx',index=False)